<footer class="footer">
    <div><a href="https://polygonscan.com/token/0x9f856c409bd0edf033985228f2a882e77eeed7ff">SZB contract</a></div>
    <div class="footer__inner">
        {{ if $.Site.Copyright }}
        <div class="copyright copyright--user">
            <span>{{ $.Site.Copyright | safeHTML }}</span>
            {{ else }}
            <div class="copyright">
                <span>© {{ now.Year }} <a href="https://web.b4mad.net/">#B4mad.Net</a> :: powered by <a
                        href="http://gohugo.io">Hugo</a></span>
                <span>:: theme made by <a href="https://twitter.com/panr">panr</a></span>
                <span>:: hosted on <a href="https://gitlab.com/goern/schnizzl">GitLab</a></span>
            </div>
        </div>
        {{ end }}
</footer>

<script src="{{ " assets/main.js" | absURL }}"></script>
<script src="{{ " assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
<script src="{{ " assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
